<head>
    <link rel="Stylesheet" href="../stylesheets/Stylesheet.css">
    <script type="text/javascript" src="../javascripts/DropDown.js"></script>
</head>

<header class="page-header">
    <div id="wrap">
        <div id = "inside">
        <h1 class="center">
            B - Cubed!
        </h1>
        </div>
    </div>

</header>
<main>
    <ul>
        <li><a href="Index.html">Home</a></li>
        <li><a href="Transactions.html">Transactions</a></li>
        <li><a href="Data.html">Data</a></li>
        <li><a class="active" href="Analytics.html">Analytics</a></li>
    </ul>
    <br>
    <br>
    <form>
        Income/Expense
        <select>
            <option>Income</option>
            <option>Expense</option>
        </select>
        <br>
        <br>
        Amount:
        <input name="Amount" type="Text">
        <br>
        <br>
        Location:
        <input name="location" type="Text">
        <br>
        <br>
        Expense Type:
        <select>
            <option>Automotive</option>
            <option>Clothing</option>
            <option>Entertainment</option>
            <option>Food</option>
            <option>Fuel</option>
            <option>Gas</option>
            <option>Grocery</option>
            <option>Household</option>
            <option>Medical</option>
            <option>Phone</option>
            <option>Utilities</option>
        </select>
        <br>
        <br>
        Reason:
        <input name="reason" type='Text'>
        <br>

        <input style="margin-top: 10px; padding-top: 10px; padding-right: 20px" name="submit" type="submit">
    </form>

    <div class="dropdown">
        <button onclick="buttonClick(this)" class="dropbtn">Expense/Income</button>
        <div id="myDropdown" class="dropdown-content">
            <a href="#">Income</a>
            <a href="#">Expense</a>
        </div>
    </div>


</main>
<footer>

</footer>