<head>
    <link rel="Stylesheet" href="../stylesheets/Stylesheet.css">
    <script type="text/javascript" src="../javascripts/DropDown.js"></script>
</head>

<header class="page-header">
    <div id="wrap">
        <div id = "inside">
        <h1 class="center">
            B - Cubed!
        </h1>
        </div>
    </div>

</header>
<main>
    <ul>
        <li><a href="Index.html">Home</a></li>
        <li><a href="Transactions.html">Transactions</a></li>
        <li><a class="active" href="Data.html">Data</a></li>
        <li><a href="Analytics.html">Analytics</a></li>
    </ul>



</main>
<footer>

</footer>