<head>
    <link rel="Stylesheet" href="../stylesheets/Stylesheet.css">
    <script type="text/javascript" src="../javascripts/DropDown.js"></script>
</head>

<header class="page-header">
    <div id="wrap">
        <div id="inside">
            <h1 class="center">
                B - Cubed!
            </h1>
        </div>
    </div>

</header>
<main>
    <ul>
        <li><a href="Index.html">Home</a></li>
        <li><a class="active" href="Transactions.html">Transactions</a></li>
        <li><a href="Data.html">Data</a></li>
        <li><a href="Analytics.html">Analytics</a></li>
    </ul>
    <br>
    <br>
    <form>
        Income/Expense:
        <select class="select-list">
            <option name="Income">Income</option>
            <option name="Expense">Expense</option>
        </select>
        <br>
        Amount:
        <input class="textentry" name="Amount" type="Text">
        <br>
        Location:
        <input class="textentry" name="location" type="Text">
        <br>
        Expense Type:
        <select class="select-list">
            <option>Automotive</option>
            <option>Clothing</option>
            <option>Entertainment</option>
            <option>Food</option>
            <option>Fuel</option>
            <option>Gas</option>
            <option>Grocery</option>
            <option>Household</option>
            <option>Medical</option>
            <option>Phone</option>
            <option>Utilities</option>
        </select>
        <br>
        Reason:
        <input class="textentry" name="reason" type='Text'>
        <br>

        <input class="submit-button" name="submit" type="submit">
    </form>

    <div class="dropdown">
        <button onclick="buttonClick(this)" class="dropbtn">Expense/Income</button>
        <div id="myDropdown" class="dropdown-content">
            <a href="#">Income</a>
            <a href="#">Expense</a>
        </div>
    </div>


</main>
<footer>

</footer>