header.page-header {
    background: no-repeat left/cover url(Pics/headerimage.jpg);
    display: flex;
    height:120px;
    min-width: 120px;
    align-items: center;
    color: #00ff00;
    text-shadow: #000 0 0 .2em;
    font-size: 40px;
}

.center {
    text-align: center;
    font: bold 'Fira Sans',sans-serif;
    margin-left: 50%;
    margin-right: auto;
    width: 5em; 
}

main {
    font: 2rem 'Fira Sans',sans-serif;
    background-color: grey;
}

/*Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/*Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/*The container <div> - needed to position the dropdown content*/
.dropdown {
    position: relative;
    display: inline-block;
}

/*Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    min-width: 16px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/*links inside the dropdown*/
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/*change color of dropdwon links on hover*/
.dropdown-content a:hover {background-color: #ddd}

/*Show the dropdown menu (us JS to add this class to the .dropdwon-content
container when the user clicks on the dropown button)*/
.show {display: block;}

.active {
    background-color: aliceblue;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-top: 1px solid white;
    position: sticky;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
    border-right: 1px solid white;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
    color: white;
}

.submit-button {
    margin-top: 30px;
    background-color: #333333;
    color: #ddd;
    padding: 10px 60px;
    text-align: center;
    display: inline-block;
    font-size: 40px;
}
.select-list {
    margin-top: 30px;
    padding: 8px 40px;
    font-size: 25px;
    text-align: center;
}
.textentry {
    margin-top: 30px;
    padding: 8px 40px;
    font-size: 20px;
}
.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}